.codepad_header {
	background-color: #474e5d;
	color: #ffffff;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 4em;
	text-align: center;
	padding: 20px 0px 20px 0px;
}

.centered {
	text-align: center;
}

#editor {
	margin-top: 10px;
	margin-left: 16px;
	margin-right: 16px;
}

#coderlist {
	height: 600px;
	padding-top:10px;
	background-color: #9b9b96;
    overflow-y: scroll; 
}

#chat_box {
	height: 600px;
	overflow-y: scroll;
	word-wrap: break-word;
}

#send_button {
	font-size: 0.8vw;
	margin-left: 5px;
	background-color: #0099ff;
	border-radius: 4px;
	height:54px;
	box-shadow: 0 2px 6px 1px grey
}

#send_button:hover {
	background-color: #004d80;
	cursor:pointer;
}

div.chat_update {
	font-size:0.9em;
	text-align: center;
	color:grey;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.unselectable { 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-o-user-select: none; 
	user-select: none; 
}

.sub-tagline {
	text-align: center;
  	font-size: 3.5em;
  	text-shadow: #000 0px 2px 4px;
}

@media only screen and (max-width: 900px) {

   #send_button {
   		display: none;
   }

}


