.codepad_header {
	background-color: #474e5d;
	color: #ffffff;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 4em;
	text-align: center;
	padding: 20px 0px 20px 0px;
}

.centered {
	text-align: center;
}

#editor {
	height: 65vh;
	margin-top: 10px;
	margin-left: 16px;
	margin-right: 16px;
}

#chat_box {
	height:54vh;
	overflow-y: auto;
	word-wrap: break-word;
}

#coderlist {
	margin-top: -14px;
	margin-bottom: 8px;
	line-height: 300%;
}

#send_button {
	font-size: 0.8vw;
	margin-left: 5px;
	background-color: #0099ff;
	border-radius: 4px;
	height:54px;
	box-shadow: 0 2px 6px 1px grey
}

#send_button:hover {
	background-color: #004d80;
	cursor:pointer;
}

div.chat_update {
	font-size:0.9em;
	text-align: center;
	color:grey;
}

#typing_status {
	font-size:0.9em;
	padding-top:3px;
	padding-left: 6px;	
	padding-bottom: 2px;	
	color:grey;
}

.row.no-gutter {
	margin-left: 0;
	margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  	padding-right: 0;
  	padding-left: 0;
}

.unselectable { 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-o-user-select: none; 
	user-select: none; 
}

.sub-tagline {
	text-align: center;
  	font-size: 2.5em;
  	margin-top:10px;
  	text-shadow: #000 0px 2px 4px;
}

#codegroup_header {
	padding-top: 0;
	padding-bottom: 0;
}

.footer {
	text-align: center;
	padding-top: 5px;
  	position: fixed;
  	bottom: 0;
  	width: 100%;
  	height: 30px;
  	background-color: #99d6ff;
  	font-family: Monaco, Consolas, "Lucida Console", monospace;
}

.a {
	text-decoration: underline;
}

.well.about-answer {
	background: #272822;
	color: #B0DA4C;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
}

.about-question {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.donate-form {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

span.well-sm {
	margin-right: 2px;
	margin-left: 2px;
}

.homepage-image {
	margin-top: 100px;
	margin-bottom: 50px;
}

@media only screen and (max-width: 992px) {

	.homepage-image {
		width: 70%;
	}
}

a.no-underline:hover {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {

	#chat_box {
		height: 30vh;
	}

	#send_button {
   		font-size: 2vw;
   }

	.sub-tagline {
	  	font-size: 5vw;
	}
}

@media only screen and (max-width: 550px) {
	#about-footer {
		height: 50px;
	}
}
.myMarker {
  position:absolute;
  background:rgba(102, 179, 255, 0.2);
  z-index:20
}


